   /* reset */
   *{
    margin: 0;
    padding: 0;
   }
   /* estilo desktop */
body{ 
    background-color: #0E1014;
    color: #ffff;
} 
header img{
   display: block;
   margin: 75px 0 auto 360px ;
   

}
 h1 span{
    color: #9747FF;
 }
h1{
    font-size: 64px;;
    font-family:'unbounded',sans-serif;
    font-weight:bold;
    text-align: center;
    margin-top: 60px;
}

 p{
   font-size: 24px; 
   font-family: 'poppins',sans-serif;
   text-align: center;
   margin: 24px auto  0;
   width: 792px;
 }
a{
    color: #ffffff;
    font-size: 24px; 
   font-family: 'poppins',sans-serif;
   text-decoration: none;
   background-color: #9747FF;
   display: block;
   width: 340px;
   height: 66px;
   text-align: center;
   line-height: 66px;
   border-radius: 36px;
   margin:  40px auto  ; 
}
 a:hover{
   background-color: #8233E8;
 }
 section img{
   display: block;
   width: 792px ;
   height: 446px;
   margin: 0 auto;
   
}

@media(max-width: 768px){

   header img{
      margin: 65px 0 0 60px;
   }
   
   p{
      width: 648px;
   }

}

@media(max-width: 375px)
{
   header img{
 margin: 32px 0 0 16px;
}
h1{
   font-size: 40px;
}
p{
   font-size: 20px;
   width: 341px;
   
}
a{
   font-size: 20px;
   width: 251px;
   height: 66px;
}
section img{
   width: 340px;
   height: 230px;
}
   }